.section-about {
  background-color: $color-grey-light;
  padding: 20rem 0;

  //need to move section up so it covers the polygon wedge
    //header height is 95vh, header bottom-right clips at 75vh. 95 - 75 = 20
    //use negative top margin to move section up. 
  margin-top: -20vh;
}

.section-features {
  margin-top: -13vh;
  padding: 15rem 0;
  background-image: linear-gradient(
    to bottom right, 
    rgba($color-primary-light, 0.8), 
    rgba($color-primary-dark, 0.8)), 
    url('../img/nat-4.jpg');
  background-size: cover;
  transform: skewY(-7deg);

  //direct child selector >
  & > * {
    transform: skewY(7deg);
  }
  
}

.section-tours {
  margin-top: -12vh;
  background-color: $color-grey-light;
  padding: 20rem 0 50rem 0;

}