.section-about {
  background-color: $color-grey-light;
  padding: 20rem 0 25rem 0;

  //need to move section up so it covers the polygon wedge
    //header height is 95vh, header bottom-right clips at 75vh. 95 - 75 = 20
    //use negative top margin to move section up. 
  margin-top: -20vh;
}

.section-features {
  margin-top: -13vh;
  padding: 15rem 0;
  background-image: linear-gradient(
    to bottom right, 
    rgba($color-primary-light, 0.8), 
    rgba($color-primary-dark, 0.8)), 
    url('../img/nat-4.jpg');
  background-size: cover;
  transform: skewY(-7deg);

  //direct child selector >
  & > * {
    transform: skewY(7deg);
  }
  
}

.section-tours {
  margin-top: -14vh;
  background-color: $color-grey-light;
  padding: 20rem 0 4rem 0;
}

.section-stories {
  background-image: linear-gradient($color-grey-light 3%, transparent 14%);  
  padding-top: 8rem;
  padding-bottom: 8rem;
  position: relative;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book {
  //"solid colour gradient"
  background-image: linear-gradient(100deg, 
  rgba($color-white, .9) 50%, transparent 50%), 
  url('../img/nat-10.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;        //same as cover
  border-radius: $border-radius-sml;
  box-shadow: $default-box-shadow;

  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}