/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

/* basic reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

/* use body tag here to use power of inheritance for global font settings */

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 20px;
}

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
    to bottom right, 
    rgba(126, 213, 111, 0.8), 
    rgba(40, 180, 133, 0.8)), 
    url('../img/hero.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0% 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  text-align: center;
  
  /* in relation to parent element */
  top: 50%;
  left: 50%;
  
  /* in relation to element itself */    
  transform: translate(-50%, -40%)
}

.heading-primary {
  color: #FFF;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  font-size: 6.0rem;
  font-weight: 400;
  letter-spacing: 35px;

  /* assign animation and duration */
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;

  /* animation smoothing hack */
  backface-visibility: hidden;

  /* animation-delay: 3s; */
  /* animation-iteration-count: 3; */
}

.heading-primary-sub {
  display: block;
  font-size: 2.0rem;
  font-weight: 700;
  letter-spacing: 17.4px;

  /* assign animation and duration */
  animation: moveInRight 2s ease-out;

  /* animation smoothing hack */
  backface-visibility: hidden;
}

/* set animation name and params/values */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px)
  }

  80% {
    transform: translateX(10px)
  }

  100% {
    opacity: 1;
    transform: translate(0)
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px)
  }

  80% {
    transform: translateX(-10px)
  }

  100% {
    opacity: 1;
    transform: translate(0)
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px)
  }

  80% {
    transform: translateY(-5px)
  }

  100% {
    opacity: 1;
  }
}

.btn-animated {
  animation: moveInBottom 2s ease-out;
  animation-delay: 0.5s;

  /* applies 0% animation styles before animation starts. */
  animation-fill-mode: backwards;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  margin-top: 60px;

  transition: all 0.5s;

  /* center as text */
  display: inline-block;

  /* so pseudo-element can hide behind using absolute positioning (first parent) */
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.btn:active {
  /* appears closer to page when clicked/active - 
                                      shadow gets tighter and sinks from hover position */
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.btn-white {
  background-color: #FFF;
  color: #777;
  border-radius: 200px;
}

.btn::after {
  content: "";            /* necessary line that doesn't seem to do anything else */
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: #FFF;

  /* hide behind parent element .btn */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 200px;

  /* pseudo-element disappears as hover changes take effect*/
  transition: all 0.4s;
}

.btn:hover::after {
  /* pseudo-element grows and disappears from behind .btn */
  transform: scale(1.2, 1.6);
  opacity: 0
}