//Basic definitions for project

/* basic reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

//could be argued that global font-size belongs in typography, but it's more of a general setting 
//as seen when used for padding, animations etc

/*** !!! THIS IS WHAT THE REMS ARE BASED ON - 
    16px is default. We want 10px default. 
      10/16 = 0.625 !!! ***/
html {
  font-size: 62.5%;   /* 10px (desired size) divided by 16px (default browser size) */

  @include respond(phone) {
    font-size: 50%;
  }
  @include respond(tab-port) {
    font-size: 60%;
  }
  @include respond(tab-land) {
    font-size: 70%;
  }
  @include respond(big-desktop) {
    font-size: 80%;
  }
}

/* use body tag here to use power of inheritance for global font settings */
body {
  box-sizing: border-box;
}

