.u-center-text {
  text-align: center;
}

.u-margin-bottom-lg {
  margin-bottom: 8rem;
}

.u-margin-bottom-med {
  margin-bottom: 4rem;
}

.u-margin-bottom-sml {
  margin-bottom: 1.5rem;
}

.u-margin-top-med {
  margin-top: 1rem;
}

.u-margin-top-lg {
  margin-top: 6rem;
}