//COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light: #f7f7f7;
$color-grey-dark: #777;
$color-black: #000;
$color-white: #FFF;

//GRID
$grid-width: 114rem;    // * 10px
$gutter-vertical: 8rem; // * 10px
$gutter-horizontal: 5rem; // * 10px

//FONT
$default-font-size: 1.6rem;