.card {
  perspective: 150rem;
  -moz-perspective: 50rem;
  position: relative;
  height: 50rem;

  &__side {
    color: $color-white;
    font-size: 2rem;
    height: 50rem;
    transition: all .8s ease;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    
    position: absolute;   //make card sides sit on top of one another
    top: 0;
    left: 0;

    width: 100%;   //take up whole div space instead of just containing text
    backface-visibility: hidden; //hides other side of card so that different rotation is hidden

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark)
      }
      &-2 {
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark)
      }
      &-3 {
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark)
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }
}